services:
  hugo:
    image: hugomods/hugo:exts
    command: >-
      sh -c "
      if [ ! -d themes/hugo-theme-relearn ]; then
        git clone --depth 1 https://github.com/McShelby/hugo-theme-relearn themes/hugo-theme-relearn;
      fi;
      hugo server -D --bind 0.0.0.0 --baseURL http://localhost:1313/
      "
    ports:
      - "1313:1313"
    volumes:
      - .:/src
      - /Users/xavierlopez/Dev:/work
      - hugo_themes:/src/themes
    working_dir: /src
    environment:
      HUGO_ENVIRONMENT: development
      HUGO_ENV: development
      HUGO_MODULE_REPLACEMENTS: "github.com/zavestudios/panchito -> /work/panchito,github.com/zavestudios/rigoberta -> /work/rigoberta,github.com/zavestudios/thehouseguy -> /work/thehouseguy,github.com/zavestudios/xavierlopez.me -> /work/xavierlopez.me,github.com/zavestudios/platform-pipelines -> /work/platform-pipelines,github.com/zavestudios/pg -> /work/pg,github.com/zavestudios/kubernetes-platform-infrastructure -> /work/kubernetes-platform-infrastructure,gitlab.com/platformystical/bigbang -> /work/bigbang"

volumes:
  hugo_themes:
