:root[data-r-output-format='print'] {
&:root {
  /* relearn-light */
  --PRIMARY-color: rgba( 125, 201, 3, 1 ); /* brand primary color */
  --PRIMARY-HOVER-color: rgba( 99, 159, 2, 1 ); /* brand primary hover color */
  --SECONDARY-color: rgba( 72, 106, 201, 1 ); /* brand secondary color */
  --SECONDARY-HOVER-color: rgba( 32, 40, 145, 1 ); /* brand secondary hover color */
  --ACCENT-color: rgba( 255, 102, 78, 1 ); /* brand accent color, used for search highlights */
  --ACCENT-HOVER-color: rgba( 226, 85, 64, 1 ); /* brand accent hover color */
  --MENU-HEADER-color: rgba( 40, 40, 40, 1 ); /* color of menu header */
  --MENU-SEARCH-color: rgba( 224, 224, 224, 1 ); /* text and icon color of search box */
  --MENU-SEARCH-BG-color: rgba( 50, 50, 50, 1 ); /* background color of search box */
  --MENU-SEARCH-BORDER-color: rgba( 224, 224, 224, 1 ); /* border color of search box */
  --MENU-HOME-LINK-color: rgba( 64, 64, 64, 1 ); /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: rgba( 0, 0, 0, 1 ); /* hovered home button color if configured */
  --MENU-SECTIONS-BG-color: rgba( 40, 40, 40, 1 ); /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-ACTIVE-BG-color: rgba( 33, 33, 33, 1 ); /* background color of the active menu section */
  --MENU-SECTIONS-LINK-color: rgba( 186, 186, 186, 1 ); /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: rgba( 255, 255, 255, 1 ); /* hovered link color of menu topics */
  --MENU-SECTION-ACTIVE-CATEGORY-color: rgba( 68, 68, 68, 1 ); /* text color of the displayed menu topic */
  --MENU-SECTION-SEPARATOR-color: rgba( 96, 96, 96, 1 ); /* separator color between menus */
  --MAIN-BG-color: rgba( 255, 255, 255, 1 ); /* background color of content */
  --MAIN-TEXT-color: rgba( 0, 0, 0, 1 ); /* text color of content and titles */
  --MAIN-TITLES-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of titles and transparent box titles */
  --CODE-theme: relearn-light; /* name of the chroma stylesheet file */
  --CODE-BLOCK-color: rgba( 39, 40, 34, 1 ); /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: rgba( 250, 250, 250, 1 ); /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: rgba( 216, 216, 216, 1 ); /* border color of block code */
  --CODE-INLINE-color: rgba( 94, 94, 94, 1 ); /* text color of inline code */
  --CODE-INLINE-BG-color: rgba( 255, 250, 233, 1 ); /* background color of inline code */
  --CODE-INLINE-BORDER-color: rgba( 248, 232, 200, 1 ); /* border color of inline code */
  --BROWSER-theme: light; /* name of the theme for browser scrollbars of the main section */
  --MERMAID-theme: default; /* name of the default Mermaid theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-theme: light; /* name of the default OpenAPI theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-CODE-theme: idea; /* name of the default OpenAPI code theme for this variant, can be overridden in hugo.toml */
  --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* text color of colored box titles */
  --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* background color of colored boxes */
  --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of colored box content */
}

/* Generated using: hugo gen chromastyles chroma-relearn-light --style monokailight */

/* Background */ .bg { color:#272822;background-color:#fafafa; }
/* PreWrapper */ .chroma { color:#272822;background-color:#fafafa; }
/* Error */ .chroma .err { color:#960050 }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#e1e1e1 }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#00a8c8 }
/* KeywordConstant */ .chroma .kc { color:#00a8c8 }
/* KeywordDeclaration */ .chroma .kd { color:#00a8c8 }
/* KeywordNamespace */ .chroma .kn { color:#f92672 }
/* KeywordPseudo */ .chroma .kp { color:#00a8c8 }
/* KeywordReserved */ .chroma .kr { color:#00a8c8 }
/* KeywordType */ .chroma .kt { color:#00a8c8 }
/* Name */ .chroma .n { color:#111 }
/* NameAttribute */ .chroma .na { color:#75af00 }
/* NameClass */ .chroma .nc { color:#75af00 }
/* NameConstant */ .chroma .no { color:#00a8c8 }
/* NameDecorator */ .chroma .nd { color:#75af00 }
/* NameEntity */ .chroma .ni { color:#111 }
/* NameException */ .chroma .ne { color:#75af00 }
/* NameLabel */ .chroma .nl { color:#111 }
/* NameNamespace */ .chroma .nn { color:#111 }
/* NameOther */ .chroma .nx { color:#75af00 }
/* NameProperty */ .chroma .py { color:#111 }
/* NameTag */ .chroma .nt { color:#f92672 }
/* NameBuiltin */ .chroma .nb { color:#111 }
/* NameBuiltinPseudo */ .chroma .bp { color:#111 }
/* NameVariable */ .chroma .nv { color:#111 }
/* NameVariableClass */ .chroma .vc { color:#111 }
/* NameVariableGlobal */ .chroma .vg { color:#111 }
/* NameVariableInstance */ .chroma .vi { color:#111 }
/* NameVariableMagic */ .chroma .vm { color:#111 }
/* NameFunction */ .chroma .nf { color:#75af00 }
/* NameFunctionMagic */ .chroma .fm { color:#75af00 }
/* Literal */ .chroma .l { color:#ae81ff }
/* LiteralDate */ .chroma .ld { color:#d88200 }
/* LiteralString */ .chroma .s { color:#d88200 }
/* LiteralStringAffix */ .chroma .sa { color:#d88200 }
/* LiteralStringBacktick */ .chroma .sb { color:#d88200 }
/* LiteralStringChar */ .chroma .sc { color:#d88200 }
/* LiteralStringDelimiter */ .chroma .dl { color:#d88200 }
/* LiteralStringDoc */ .chroma .sd { color:#d88200 }
/* LiteralStringDouble */ .chroma .s2 { color:#d88200 }
/* LiteralStringEscape */ .chroma .se { color:#8045ff }
/* LiteralStringHeredoc */ .chroma .sh { color:#d88200 }
/* LiteralStringInterpol */ .chroma .si { color:#d88200 }
/* LiteralStringOther */ .chroma .sx { color:#d88200 }
/* LiteralStringRegex */ .chroma .sr { color:#d88200 }
/* LiteralStringSingle */ .chroma .s1 { color:#d88200 }
/* LiteralStringSymbol */ .chroma .ss { color:#d88200 }
/* LiteralNumber */ .chroma .m { color:#ae81ff }
/* LiteralNumberBin */ .chroma .mb { color:#ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color:#ae81ff }
/* LiteralNumberHex */ .chroma .mh { color:#ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color:#ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color:#ae81ff }
/* LiteralNumberOct */ .chroma .mo { color:#ae81ff }
/* Operator */ .chroma .o { color:#f92672 }
/* OperatorWord */ .chroma .ow { color:#f92672 }
/* Punctuation */ .chroma .p { color:#111 }
/* Comment */ .chroma .c { color:#a7a187 }
/* CommentHashbang */ .chroma .ch { color:#a7a187 }
/* CommentMultiline */ .chroma .cm { color:#a7a187 }
/* CommentSingle */ .chroma .c1 { color:#a7a187 }
/* CommentSpecial */ .chroma .cs { color:#a7a187 }
/* CommentPreproc */ .chroma .cp { color:#a7a187 }
/* CommentPreprocFile */ .chroma .cpf { color:#a7a187 }
/* GenericEmph */ .chroma .ge { font-style:italic }
/* GenericStrong */ .chroma .gs { font-weight:bold }

}
#R-sidebar {
  display: none;
}
#R-body {
  margin-left: 0 !important;
  margin-right: 0 !important;
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}
#R-body #navigation {
  display: none;
}
html {
  font-size: 8.763pt;
}
body {
  background-color: rgba(255, 255, 255, 1);
}
pre:not(.mermaid) {
  border: 1px solid rgba(204, 204, 204, 1);
}
#R-body #R-topbar {
  background-color: rgba(255, 255, 255, 1); /* avoid background bleeding*/
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  border-radius: 0;
  color: rgba(119, 119, 119, 1);
  padding-left: 0; /* for print, we want to align with the footer to ease the layout */
  padding-right: 0;
}
#R-body .topbar-button {
  /* we don't need the buttons while printing */
  /* we need !important to turn off JS topbar button handling setting element styles */
  display: none !important;
}
@media screen and (max-width: 47.999rem) {
  #R-body .topbar-breadcrumbs {
    visibility: visible;
  }
}

code.copy-to-clipboard-code:after {
  display: none;
}

#R-body .actionbar {
  display: none;
}

#toast-container {
  display: none;
}

#R-body h1,
#R-body h2,
#R-body .card-title,
#R-body h3,
#R-body .article-subheading,
#R-body h4,
#R-body h5,
#R-body h6 {
  /* better contrast for colored elements */
  color: rgba(0, 0, 0, 1);
}
#R-body th,
#R-body td,
#R-body code,
#R-body strong,
#R-body b,
#R-body li,
#R-body dd,
#R-body dt,
#R-body p,
#R-body a,
#R-body button,
#R-body .badge .badge-content {
  /* better contrast for colored elements */
  color: rgba(0, 0, 0, 1);
}
#R-body .anchor {
  display: none;
}
#R-body pre:not(.mermaid),
#R-body code {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(221, 221, 221, 1);
}

hr {
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}
#R-body #R-body-inner {
  overflow: visible; /* turn off limitations for perfect scrollbar */
  /* reset paddings for chapters in screen */
  padding: 0 3.25rem 4rem 3.25rem;
}

#R-body #R-body-inner h1 {
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  font-size: 3.25rem;
  margin-bottom: 2rem;
  padding-bottom: 0.75rem;
}

/* Children shortcode */
.children-type-group li > p + p,
.children-type-tree li > p + p,
.children-type-flat li > p {
  font-size: 1rem;
}

.footline {
  /* in print mode show footer line to signal reader the end of document */
  border-top: 1px solid rgba(221, 221, 221, 1);
  color: rgba(119, 119, 119, 1);
  margin-top: 1.5rem;
  padding-top: 0.75rem;
}

h1 + .footline {
  /* if we have no content in the page we remove the footer as it is of no real value in print */
  display: none;
}

#R-body #R-body-inner .headline a,
#R-body #R-body-inner .footline a,
#R-body #R-body-inner .btn a {
  text-decoration: none;
}
#R-body #R-body-inner a {
  /* in print we want to distinguish links in our content from
    normal text even if printed black/white;
    don't use a.highlight in selector to also get links that are
    put as HTML into markdown */
  text-decoration-line: underline;
}
#R-topbar {
  /* the header is sticky which is not suitable for print; */
  position: initial;
}
#R-topbar > .topbar-wrapper {
  background-color: initial;
}
#R-body .topbar-sidebar-divider {
  border-width: 0;
}
article .R-taxonomy {
  display: none;
}
mark.search {
  background: inherit;
  color: inherit;
}
.mermaid.zoom:hover {
  border-color: transparent;
}
.box > .box-content {
  background-color: rgba(255, 255, 255, 1);
}

.btn,
#R-body .tab-nav-button {
  color: rgba(0, 0, 0, 1);
}
#R-body .tab-nav-button.active {
  border-bottom-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
#R-body .tab-nav-button.active > .tab-nav-text {
  background-color: rgba(255, 255, 255, 1);
}
#R-body .tab-content-text {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

article:not(.card) {
  break-before: page;
}
#R-body-inner article:not(.card):first-of-type {
  break-before: avoid;
}

#R-body #R-body-inner .flex-block-wrapper {
  max-width: calc(var(--INTERNAL-MAIN-MAX-width) - var(--INTERNAL-MENU-L-width) - 2 * 3.25rem);
  width: 100%;
}

#R-body #R-body-inner > .flex-block-wrapper article.narrow > p {
  font-size: 1.015625rem;
  text-align: start;
}

#R-body #R-body-inner > .flex-block-wrapper article.narrow > .article-subheading {
  margin-top: 0;
}
