name: Deploy Hugo site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy Hugo Site
    uses: zavestudios/platform-pipelines/.github/workflows/hugo-deploy.yml@main
    with:
      goprivate: github.com/zavestudios/*,gitlab.com/platformystical/*
      gonosumdb: github.com/zavestudios/*,gitlab.com/platformystical/*
